body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 95%;
  max-width: 1200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.header {
  background-color: #4a90e2;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.row.content {
  display: flex;
  flex: 1;
  box-sizing: border-box;
}

.info {
  background-color: #e0f7fa;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
}

.profile-image {
  display: block;
  max-width: 150px;
  margin: 20px auto;
  border-radius: 50%;
  border: 2px solid #4a90e2;
}

.sidebar {
  width: 100%;
  margin-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  background-color: #e8f1ff;
  border: 1px solid #c7d8f5;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: #d0e2ff; /* Hover color */
}

.right-content {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

#content1,
#content2 {
  padding: 20px;
  border: 1px solid #ddd; /* Border around content areas */
  border-radius: 8px; /* Rounded corners */
  margin-bottom: 20px; /* Spacing between content sections */
}

h2 {
  color: #3a78c2;
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 2px solid #d0e2ff;
  padding-bottom: 5px;
  font-weight: bold;
}

h3 {
  color: #4a90e2; /* Header color */
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.icon-link {
  display: inline-block;
  transition: transform 0.3s;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.icon-link:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .row.content {
    flex-direction: column;
  }

  .info {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .right-content {
    width: 100%;
  }
}
